<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Submitted</title>
</head>
<body>

    <h1>Application Submitted Successfully</h1>
    <p>
        Your application has been received and is currently under review by our bank staff.
    </p>
    <p>
        Please wait while the verification process is completed.
    </p>

    <a href="{% url 'customer_application' %}">
        Submit Another Application
    </a>

    
</body>
</html>